doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title rem

  body
    h1
      if authorized
        = 'Hello ' + userinfo.given_name
      else
        = 'authorize:'


    #biglinks
      if authorized
        a(href='/forget') forget
        a(href='/list') list
      else
        a(href='/auth') auth

    if authorized

      #list

      script(src="/_js/app.js" type="text/javascript")
