doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title rem

    style(media="screen").
      body{
        font-family: Helvetica, sans-serif;
      }
      #biglinks a{
        font-size: 20px;
        background: #00ff30;
        color: black;
        padding: 10px 20px;
        margin-right: 10px;
        text-decoration: none;
      }

  body
    h1
      if authorized
        = 'Hello ' + userinfo.given_name
      else
        = 'authorize:'


    #biglinks
      if authorized
        a(href='/forget') forget
        a(href='/list') list
      else
        a(href='/auth') auth

    script(src="/_js/app.js" type="text/javascript")
