doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title rem

    if authorized
      style.
        body{
          transition: opacity 200ms;
          opacity: 0;
        }

  body
    h1
      if authorized
        = 'Hello ' + userinfo.given_name

    #biglinks
      if authorized
        a.btn(href='/logout') logout
      else
        a.btn(href='/auth') authorize!


    if authorized

      h3 Add a reminder

      #root

      script(src=`${env === 'development' ? 'devserver' : 'js'}/app.js` type="text/javascript")

    else
      style.
        body{
          font-family: sans-serif;
        }
        #biglinks{
          text-align: center;
          margin-top: 10vh;
        }
        a{
          background: #00ff30;
          color: black;
          padding: 10px 20px;
          text-decoration: none;
          font-size: 30px;
        }
