doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title rem

    if authorized
      style.
        body{
          transition: opacity 200ms;
          opacity: 0;
        }

  body
    h1
      if authorized
        = 'Hello ' + userinfo.given_name
      else
        = 'authorize:'

    #biglinks
      if authorized
        a.btn(href='/logout') logout
      else
        a.btn(href='/auth') auth


    if authorized

      h3 Add a reminder

      #root

      script(src=`${env === 'development' ? 'devserver' : 'js'}/app.js` type="text/javascript")
