doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title rem

    if authorized
      style.
        body{
          transition: opacity 200ms;
          opacity: 0;
        }

  body
    h1
      if authorized
        = 'Hello ' + userinfo.given_name
      else
        = 'authorize:'


    #biglinks
      if authorized
        a(href='/forget') forget
        a(href='/list') list
      else
        a(href='/auth') auth

    if authorized

      h3 Add a reminder
      form#add-form
        label(for='f-mode') mode
        input#f-mode(type='text', name='mode')
        br
        label(for='f-summary') summary
        input#f-summary(type='text', name='summary')
        br
        input#f-submit(type='submit')

      #list
        // TODO return initial list here, and only update on front

      script(src="/_js/app.js" type="text/javascript")
