@import url(./../node_modules/sanitize.css/sanitize.css)

$black: #222
$pink: #ff9a9a
$green: #00ff30

body
  padding: 0 20px

h3
  margin-top: 50px
label
  display: inline-block
  margin-bottom: 10px
  min-width: 93px
input
  display: inline-block
  &[type="text"]
    border: 1px solid $black

a
  text-decoration: none


.btn, button
  background: $green
  color: black
  padding: 10px 20px
  cursor: pointer
  &.btn-small
    padding: 3px 5px
  &.btn-delete
    margin-left: 10px
    background: $pink

#biglinks
  position: fixed
  top: 20px
  right: 0px
  a
    font-size: 20px
    margin-right: 10px

#list
  margin-top: 50px
  margin-bottom: 50px
